<!doctype html>
  <html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="application-name" content="html wdiff">
    <title>html wdiff — {{ org_filename }} vs {{ new_filename }}</title>
    <style>{{ css }}</style>
  </head>
  <body>
  <div id="root">
    <article id="main">
      <header>
        <h1><span>{{ org_filename }}</span> vs <span>{{ new_filename }}</span></h1>
      </header>
      <section id="content">
  <!-- start of diff content -->
  {{ content }}
  <!-- end of diff content -->
      </section>

    </article>
  </div>  <!-- #root -->
  <script>{{ js }}</script>
  </body>
  </html>
